/*
	NAME : style.css
	FUNCTIONALITY : Provides styling to the web app
	CREATED BY : Aashish Loknath Panigrahi (@asxyzp)
*/

/*Styling the main containers in the application*/
#img-control{
	background: #EDF5E1;
	color:black;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: none;
	display: flex;
	flex-direction: column;
}
#img-load{
	height: 100vh;
	overflow:auto;
	display: flex;
	flex-direction: column;
}

/*Styles the text*/
.imgine-text{
	font-family: 'Pacifico', cursive;
	font-weight: 900;
}
label{
	width:100%;
}
.center{
	text-align:center;
}


/*Styling the image buttons (file and load)*/
.img-file-btn{
	width:0.1px;
	height:0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	width:100%;
}
label[for='img-file-btn']{
	border-radius:7px; 
	cursor: pointer;
	background:black;
	color: white;
	padding:8px;
	margin-top: 6px;
	margin-bottom: -3px;
	width:100%;
}
.img-load-btn{
	width:100%;
	margin-top:10px;
}

/*Styling the containers*/
.top{
	margin-top: 10px;
}
.small-top{
	margin-top: 5px;
}
.control-div{
	display: block;
	width:100%;
	padding: 5px;
	background: white;
	border-radius: 7px;
	color:black;
}
.full-width{
	width:100%;
}

/*Styling the canvas container*/
.canvas-div{
	height:100vh;
	overflow: scroll;
}

.io-toggle{
	width:100%;
}
.btn{
	width:100%;
}
.pad2{
	padding: 2px;
}